//
//  UNIP Plus Prod.xcconfig
//  UNIP Plus
//
//  Created by José Franklin Silva Alves on 21/01/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH = /
API_ORIGIN = https:$(SLASH)/localhost:5001
API_BASE_URL = ${API_ORIGIN}/unip-plus/southamerica-east1/api
